html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 1.3;
    color: #f6f6f6;
    background-color: #010101;
}

.header {
    padding: 22px 0;
    background-color: #010101;
    opacity: 0.85;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 20;
}

.container {
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 15px;
}

.container__header {
    margin: 0 auto;
    max-width: 1680px;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.at-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.at-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.at-menu__link {
    font-size: 16px;
    font-weight: 500;
}

.at-menu__item {
    grid-column: auto;
}

.at-menu__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.at-menu__link:hover {
    border-bottom: 1px solid #fff;
}

.header__logo {
    margin-right: 10vw;
}

.header__address {
    display: grid;
    grid-template-columns: 1fr 72px;
    grid-template-rows: 1fr;
    font-size: 16px;
    font-weight: 500;
}

.header__tel {
    grid-column: 1 / 2;
    letter-spacing: 0.05em;
    margin-right: 32px;
}

.header__sity {
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: #f6f6f6;
    grid-column: 2 / 3;
}

.header__sity option {
    background-color: transparent;
}

.header__cart {
    grid-column: 3 / 4;
}

.header__select-title {
    position: relative;
    cursor: pointer;
}

.header__select-title::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    transform: rotate(45deg);
    cursor: pointer;
    top: 5px;
    right: 0;
    transition: transform 0.3s, top 0.3s;
}

.header__select[data-state="active"] > .header__select-title::after {
    transform: rotate(225deg);
    top: 9px;
}

.header__select {
    position: relative;
}

.header__select-content {
    position: absolute;
    height: 70px;
    transform: translateY(-200px);
    transition: transform 0.65s;
}

.header__select[data-state="active"] > .header__select-content {
    transform: translateY(0);
}

.header__select-input {
    display: none;
}

.header__select-label {
    position: absolute;
    cursor: pointer;
    transition: border-bottom 0.3s, color 0.3s;
    border-bottom: 2px solid transparent;
}

.header__select-label:first-child {
    top: 7px;
}

.header__select-label:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}

.header__select-label:last-child {
    top: 35px;
}

.head__slider {
    height: 100vh;
    position: relative;
}

.head-slider {
    position: relative;
}

.head-slider::after {
    content: url(../image/food__bg.png);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

.head__slide {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: darken;
}

.head__title {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    max-width: 904px;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 62px;
}

.head__subtitle {
    display: block;
    font-weight: 300;
    font-size: 24px;
    margin-top: 22px;
}

.head__btn {
    padding: 22px 61px;
    border: 1px solid transparent;
    background-color: #7ab826;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.head__btn:hover {
    color: #fff;
    box-shadow: 0px 12px 40px rgba(122, 184, 38, 0.25);
}

.head__btn:active {
    background-color: #4d8501;
    box-shadow: none;
}

.head__progress {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 5%;
    z-index: 9999;
}

.head__progress > .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(246, 246, 246, 0.2);
    background-image: linear-gradient(to right, #7ab826, #7ab826);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
}

.arrows {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: unset;
    top: unset;
    right: unset;
    left: unset;
    margin-top: unset;
}

.pagingInfo {
    display: flex;
    justify-content: space-around;
}

.pagingCurrent {
    font-weight: 500;
    font-size: 32px;
}

.pagingAll,
.separator {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.4;
    position: relative;
    bottom: 6px;
}

.rations {
    padding: 160px 0;
}

.rations__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.title {
    font-weight: 700;
    font-size: 64px;
}

.rations__subtitle {
    max-width: 676px;
}

.rations__items {
    display: flex;
    flex-direction: column;
}

.rations__item {
    display: flex;
    justify-content: space-between;
}

.rations__item:not(:last-child) {
    border-bottom: 1px solid rgba(246, 246, 246, 0.2);
    margin-bottom: 24px;
}

.rations__info {
    display: flex;
}

.rations__item-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    margin-right: 20px;
}

.rations__col {
    font-weight: 300;
    font-size: 24px;
}
.rations__btn {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.ractions__menu {
    padding: 20px 44px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.03em;
    opacity: 0.4;
    margin-right: 21px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: color 0.3s, opacity 0.3s, background-color 0.3s;
}

.ractions__menu:hover {
    opacity: 1;
}

.ractions__menu:active {
    background-color: #2e2e2e;
}

.rations__send {
    padding: 20px 66px;
    background-color: #7abb26;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #fff;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.rations__send:hover {
    color: #fff;
    box-shadow: 0px 12px 40px rgba(122, 184, 38, 0.25);
}

.rations__send:active {
    background-color: #4d8501;
    box-shadow: none;
}

.rations__vegan {
    margin-top: 10px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.about-me {
    position: relative;
    padding: 160px 0;
    background-color: #111111;
}

.about-me::before {
    top: 0;
    position: absolute;
    content: url("../image/about-me__bg.png");
}

.about-me__title {
    max-width: 786px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.about-me__items {
    display: flex;
    justify-content: space-between;
}

.about-me__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.about-me__img {
    width: 100px;
    height: 100px;
}

.about-me__subtitle {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 12px;
}

.about-me__text {
    max-width: 292px;
    font-weight: 300;
    font-size: 16px;
}

.menu {
    padding: 160px 0;
    position: relative;
}

.menu::after {
    position: absolute;
    content: url("../image/menu__bg.svg");
    bottom: 0;
    right: 0;
}

.menu__title {
    margin-bottom: 60px;
}

.menu__menu-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.swiper__calendar {
    max-height: 76px !important;
    max-width: 1100px;
    overflow: hidden;
}

.calendar__items {
    max-height: 76px !important;
    max-width: 1100px;
}

.calendar__item {
    height: 76px;
    width: 160px;
    text-align: center;
}

.calendar__btn {
    height: 76px;
    width: 160px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 12px;
    padding: 0;
    letter-spacing: 0.03em;
    transition: background-color 0.3s;
    border: none;
}

.calendar__btn:hover {
    background-color: #7ab826;
}

.calendar__btn:active {
    background-color: #4d8501;
}

.calendars {
    position: relative;
}

.calendars::before {
    content: "";
    position: absolute;
    height: 76px;
    top: 0;
    bottom: 0;
    width: 80px;
    left: -80px;
    background-image: linear-gradient(270deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
}

.calendar__inputs {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.calendar__inputs::-webkit-datetime-edit {
    display: none;
}

.calendar__inputs::-webkit-calendar-picker-indicator {
    background-image: url(../image/calendar.svg);
    background-size: 40%;
    background-color: #111;
    background-position: center center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left: -1px;
    width: 76px !important;
    height: 76px !important;
}

.calendar__icon-ff {
    display: block;
    position: relative;
    width: 76px;
    height: 76px;
    background-image: url(../image/calendar.svg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: #111;
    cursor: pointer;
}

.calendar__inputs-ff {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 76px;
    height: 76px;
    padding: 0;
    cursor: pointer;
}

.menu__menu-list {
    display: flex;
    justify-content: space-between;
}

.menu__menu-items {
    max-width: 768px;
}

.menu__menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu__menu-img {
    margin-bottom: 24px;
}

.menu__menu-meal {
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.menu__menu-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1px;
}

.menu__menu-text {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 24px;
}

.menu__menu-parametrs {
    display: flex;
}

.menu__menu-parametr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.menu__menu-parametr:not(:last-child) {
    margin-right: 42px;
}

.menu__menu-parametr::after {
    position: absolute;
    content: "";
    opacity: 0.1;
    border: 1px solid #f6f6f6;
    right: -20px;
    height: 34px;
}

.menu__menu-parametr:last-child:after {
    display: none;
}

.menu__menu-parametr:last-child {
    justify-content: start;
    align-items: start;
}

.menu__menu-har {
    font-weight: 700;
    font-size: 16px;
}

.menu__menu-name {
    font-weight: 300;
    font-size: 12px;
}

.menu__aside {
    margin-left: 24px;
    padding: 24px 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 376px;
    position: relative;
    max-height: 390px;
}

.menu__aside::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 114px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__aside-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
}

.menu-select {
    max-width: 328px;
    position: relative;
    display: flex;
}

.menu-header__select-title {
    width: 325px;
    cursor: pointer;
    position: relative;
}

.menu-header__select-title::after {
    top: 5px;
    bottom: 0;
    right: 0;
    left: auto;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.3s, top 0.3s;
}

.menu-header__select[data-state="active"] > .menu-header__select-title::after {
    transform: rotate(225deg);
    top: 10px;
}

.menu-header__select-title,
.menu-header__title {
    font-weight: 700;
    font-size: 32px;
    display: flex;
    text-transform: uppercase;
}

.menu-header__select-title > .menu-header__title {
    border: none;
}

.menu-header__select-title > .menu-header__title:hover {
    border: none;
}

.menu-header__title {
    cursor: pointer;
}

.menu-header__title {
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.menu-header__title:hover {
    border-bottom: 1px solid #fff;
}

.menu-header__kcal {
    font-weight: 300;
    font-size: 16px;
    margin-left: 8px;
    text-transform: none;
    z-index: -1;
}

.menu-header__select {
    width: 236px;
    position: relative;
}

.menu-header__select-content {
    position: absolute;
    opacity: 0;
    padding: 15px 15px 0 15px;
    width: 270px;
    background-color: #111111;
    transition: all 0.5s;
    z-index: -1;
}

.menu-header__select[data-state="active"] > .menu-header__select-content {
    opacity: 1;
    z-index: 10;
}

.menu-header__select-input {
    display: none;
}

.menu__aside-prices {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
}

.menu__aside-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.menu__aside-days {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
}

.menu__aside-value {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.menu__aside-btn {
    color: #f6f6f6;
    margin-left: -25px;
    margin-right: -26px;
    background-color: #7ab826;
    padding: 20px 143px;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.menu__aside-btn:hover {
    color: #fff;
    box-shadow: 0px 12px 40px rgba(122, 184, 38, 0.25);
}

.menu__aside-btn:active {
    background-color: #4d8501;
    box-shadow: none;
}

.help {
    padding-top: 160px;
    padding-bottom: 210px;
    background-image: url(../image/help__bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 75%;
    background-color: rgba(17, 17, 17, 0.65);
    background-blend-mode: darken;
}

.help__title {
    font-weight: 700;
    font-size: 64px;
    max-width: 577px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.help__text {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    max-width: 820px;
    margin-bottom: 40px;
}

.help__btn {
    margin: 0 auto;
    max-width: 340px;
    display: block;
    text-transform: uppercase;
    background-color: #7ab826;
    padding: 32px 106px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.help__btn:hover {
    box-shadow: 0px 12px 40px rgba(122, 184, 38, 0.25);
}

.help__btn:active {
    box-shadow: none;
    background-color: #4d8501;
}

.footer {
    padding-top: 160px;
    padding-bottom: 104px;
    background-color: #010101;
}

.footer > .container {
    display: grid;
    grid-template-columns: 276px 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 111px;
}

.footer__logo {
    grid-column: 1 / 2;
}

.footer__logo > img {
    width: 276px;
}

.footer__nav {
    grid-column: 2 / 3;
}

.footer__items {
    display: flex;
    flex-direction: column;
}

.footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.footer__link {
    font-weight: 500;
    font-size: 20px;
}

.footer__link {
    transition: border-bottom 0.3s;
    border-bottom: 1px solid transparent;
}

.footer__link:hover {
    border-bottom: 1px solid #fff;
}

.footer__contacts {
    grid-column: 3 /4;
}

.footer__number {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.footer__name {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.footer__tel {
    font-weight: 600;
    font-size: 32px;
}

.footer__mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.footer__email {
    font-weight: 600;
    font-size: 32px;
}

.footer__socials {
    max-width: 176px;
    display: flex;
    justify-content: space-between;
}

.footer__social {
    transition: transform 0.3s;
}

.footer__social:hover {
    transform: scale(1.3);
}

.carriage {
    padding-top: 148px;
    padding-bottom: 160px;
}

.carriage__title {
    margin-bottom: 64px;
}

.carriage__content {
    display: flex;
    justify-content: start;
}

.cart {
    max-width: 774px;
    width: 100%;
    margin-right: 24px;
}

.cart__choise {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.choise__back {
    padding: 28px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #7ab826;
    border-color: transparent;
    outline: transparent;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.choise__arrow-icn {
    transform: translateX(-8px);
    transition: transform 0.3s;
}

.choise__back:hover > .choise__arrow-icn {
    transform: translateX(-16px);
}

.choise__items {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.choise__item {
    width: 100%;
    padding: 24px;
    background-color: #111;
    transition: transform 0.5s;
    display: flex;
    cursor: pointer;
}

.choise__item:hover {
    transform: scale(1.05);
}

.choise__item:not(:last-child) {
    border-bottom: 1px solid rgba(246, 246, 246, 0.2);
}

.choise__icons {
    margin-right: 20px;
}

.choise__name {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}

.choise__kcal {
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
    margin-left: 20px;
}

.cart__selected {
    transition: opacity 0.5s;
}

.selected__add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px 0;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: #111;
    outline: transparent;
    border-color: transparent;
    transition: background-color 0.5s;
}

.selected__add-btn {
    transition: transform 0.3s;
    transform: translateX(8px);
}

.selected__add:hover {
    background-color: #2e2e2e;
}

.selected__add:hover .selected__add-btn {
    transform: translateX(24px) scale(2);
}

.selected__items {
    display: flex;
    flex-direction: column;
}

.selected__item {
    display: flex;
    align-items: center;
    position: relative;
}

.selected__item:last-child {
    margin-bottom: 40px;
}

.selected__del-btn {
    left: -48px;
    position: absolute;
}

.selected__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 24px;
}

.body__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    margin-right: 112px;
    width: 150px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.body__subtitle {
    margin-top: 4px;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
}

.body__period {
    width: 100%;
    max-width: 500px;
    display: flex;
}

.body__period label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.period__prices {
    margin-top: 4px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
}

.body__period input {
    display: none;
}

.choisen {
    background-color: #7ab826;
}

.form {
    max-width: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
}

.form__title {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.form__forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    margin-bottom: 16px;
}

.forms__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.forms__input-date {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.forms__input-dates {
    display: flex;
    align-items: center;
    text-align: center;
}

.input__date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input__date-day {
    max-width: 52px;
    margin-right: 24px;
}

.input__date-month {
    max-width: 200px;
    margin-right: 12px;
}

.input__date-btn {
    background-color: transparent;
    border: none;
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
}

.input__date-btn::-webkit-datetime-edit {
    display: none;
}

.input__date-btn::-webkit-calendar-picker-indicator {
    background-image: url(../image/calendar.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
}

.modal {
    background-image: url(../image/header__slider.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(1, 1, 1, 0.8);
    position: relative;
}

.modal::after {
    position: absolute;
    content: url("../image/modal.png");
    bottom: 0;
    left: 0;
    z-index: 2;
}

.modal__nav {
    padding-top: 22px;
}

.modal__sity {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sity__title {
    max-width: 776px;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 52px;
}

.sity__btns {
    display: flex;
    max-width: 776px;
}

.sity__btn {
    padding: 30px 159px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: #111;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.sity__btn:hover {
    background-color: #7ab826;
}
